.main_list-cost-contents {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.main_list-cost-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid rgb(103, 157, 193);
  border-radius: 6px;
  width: 400px;
  height: 40px;
}
.cost-btn {
  border: 1px solid rgb(103, 157, 193);
  border-radius: 10px;
  margin-left: 15px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}
.input-name {
  width: 100px;
  margin-right: 10px;
  height: 20px;
  border: 1px solid rgb(57, 97, 129);
  border-radius: 4px;
  padding: 3px;
}
.input-price {
  width: 100px;
  margin-right: 10px;
  height: 20px;
  border: 1px solid rgb(57, 97, 129);
  border-radius: 4px;
  padding: 3px;
}
